<?xml version="1.0" encoding="UTF-8"?>
<suite name="Selenium Training" verbose="1" >
  <test name="Selenium Training Test1" >
  <!-- <groups>
  <run>
  <include name ="high"/>
  </run>
  </groups> -->
    <classes>
      <class name="com.seleniumtraining.Lecture2_WebElements">
      <methods>
        <exclude name="searchItem" />
        <exclude name="clickSearch" />
        <exclude name="dragAndDrop" />
        <exclude name="Resizable" />
        <include name="Slider" />
        <exclude name="browserNavigation" />
      </methods>
      </class>
      <class name="com.seleniumtraining.Lecture3_TestNGAnnotations"/>
    </classes>
 </test>
</suite>